/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 1px solid #ffffff;
  }