.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#prevBtn,
#nextBtn {
    width: max-content;
    height: max-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.itens {
    display: flex;
    overflow-x: auto;/* esconder o scroll hidden*/
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.item {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
}

.container-itens img {
    width: 100%;
    object-fit: cover;
}

/*
.input-radio input {
    display: none;
}
*/

.label-radios {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.label-radio {
    border: 1px solid #000;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.label-radio:hover {
    background-color: #000;
}

/*

#radio2:checked ~ .label-radios .radio2 {
    background-color: #000;
}

#radio3:checked ~ .label-radios .radio3 {
    background-color: #000;
}

#radio4:checked ~ .label-radios .radio4 {
    background-color: #000;
}

#radio5:checked ~ .label-radios .radio5 {
    background-color: #000;
}*/