h1 {
    color: #212121;
    font-size: 2.8em;
    font-weight: bold;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

/*** SOBRE ***/
.sobre {
    padding: 5rem;
    display: flex;
    height: 92vh;
}

.texto-sobre {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 15px;
}

.imagem {
    width: 50%;
    display: flex;
    justify-content: right;
}

.imagem img {
    width: 80%;
}

.titulo {
    font-size: 38px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.animated-info {
    position: relative;
}

.animated-item {
    width: max-content;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: BottomTotop 4s linear infinite 0s;
}

.animated-item:nth-child(2) {
    animation-delay: 2s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        transform: translateY(5px);
    }

    10% {
        opacity: 1;
        transform: translateY(0px);
    }

    25% {
        opacity: 1;
        transform: translateY(0px);
    }

    30% {
        opacity: 0;
        transform: translateY(5px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.container-btn {
    display: flex;
    justify-content: space-evenly;
}

.container-btn a {
    color: #000;
}

#btn-github,
#btn-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 2rem;
    width: 200px;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

#btn-github {
    background-color: #fff;
}

#btn-cv {
    background-color: rgb(28, 88, 218);
}

#btn-github:hover {
    background-color: #faf0f0;
}

#btn-cv:hover {
    background-color: rgb(58, 107, 214);
}

/*** PROJETOS ***/

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    height: 92vh;
}

.container-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#prevBtn,
#nextBtn {
    width: max-content;
    height: max-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.itens {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
}

.container-itens img {
    width: 100%;
    object-fit: cover;
}

.input-radio input {
    display: none;
}

.label-radios {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.label-radio {
    border: 1px solid #000;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.label-radio:hover {
    background-color: #000;
}

.fundo-label {
    background-color: #000;
}

/*

#radio2:checked ~ .label-radios .radio2 {
    background-color: #000;
}

#radio3:checked ~ .label-radios .radio3 {
    background-color: #000;
}

#radio4:checked ~ .label-radios .radio4 {
    background-color: #000;
}

#radio5:checked ~ .label-radios .radio5 {
    background-color: #000;
}*/

/*** RESUMO ***/

.resumo {
    padding: 5rem;
    height: 92vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.resumo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.resumo li {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #000;
    border: 2px solid #5b5b5b;
    box-shadow: 10px 10px 10px #000;
    transition: 0.2s ease-in-out;
    color: #fff;
}

.resumo li:hover {
    transform: scale(1.05);
}

.resumo li img {
    width: 5rem;
    height: 5rem;
}

/*** CONTATO ***/

.contato {
    padding: 5rem;
    height: 92vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-contato {
    display: flex;
}

.imagem-email {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-email img {
    width: 80%;
}

.contato-email {
    width: 50%;
}

.formulario-email {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 3px solid #000;
    border-radius: 2rem;
}

.formulario-email .dados-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.formulario-email .dados-form input {
    padding: 20px;
}

.formulario-email .form-control {
    background: transparent;
    border-radius: 2px;
    font-weight: bold;
    border: 2px solid #a5a0a0;
    width: 100%;
    font-size: 15px;
  }

  .formulario-email .form-control:not(textarea) {
    height: 48px;
  }

  .formulario-email textarea {
    padding: 10px 20px;
    resize: none;
  }

  .formulario-email .form-control:hover, .formulario-email .form-control:focus {
    border-color: #000;
  }

  .formulario-email .submit-btn {
    background: #000;
    border-radius: 2rem;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 50%;
  }
  
  .formulario-email .submit-btn:hover {
      background-color: #353535;
  }

/*** ***/
.separador {
    width: 100%;
    height: 0.5rem;
    background-color: #000;
}

/*** FOOTER ***/

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
}

footer .redes-sociais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

footer .redes-sociais a img {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: #fff;
}

footer .redes-sociais a:first-child img {
    filter: invert(1);
}

footer .container-cabecario {
    width: 50%;
}

footer .cabecario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

footer p a {
    color: #5b5b5b;
}